@import "tailwindcss";
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-4px);
  }
  40% {
    transform: translateX(4px);
  }
  60% {
    transform: translateX(-4px);
  }
  80% {
    transform: translateX(4px);
  }
}

.animate-shake {
  animation: shake 0.35s ease-in-out;
}

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  20% {
    transform: translateY(100px) rotate(2deg);
  }
  100% {
    transform: translateY(2000px) rotate(120deg);
  }
}

.animate-fall {
  animation: fall 0.9s cubic-bezier(0.4, 0, 1, 1) forwards;
}
